*:focus {
  outline: none; }

html, body, .app {
  height: 100%;
  max-height: 100%;
  min-height: 100%; 
  background: rgb(91,176,109);
  background: linear-gradient(0deg, rgba(91,176,109,0.48829954345019255) 0%, rgba(115,208,199,1) 43%, rgba(71,132,136,0.5303163501728816) 100%);
}

body {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

h1 {
  color: #fff;
  font-size: 45px;
  text-align:center;
  font-family: sans-serif;
}


.app {
  padding: 0 px;
  display: flex;
  justify-content: center;
}


.box {
  position: static;
  align-items: center;
  max-width: 80vh;
  max-height:40vh;
  padding: 50px;
  border-radius: 25px;
  background: rgba(0,0,0,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  margin-top: 40px;
}

.dataBox {
  position: relative;
  max-width: 400px;
  max-height: 170px;
  margin-top: 20px;
  margin-left: 600px;
}

textArea {
  font-family: sans-serif;
  height: 15vh;
  width: 75vh;
  font-size: 45pt;
  text-align: center;
  word-wrap: break-word;
  padding-top: 70px;
  margin-top: 25px;
  margin-bottom:25px
}

button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin: 0;
  padding: 12px;
  transition: background 0.3s, color 0.3s;
  user-select: none; }
  button:active {
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54); }
  button i.material-icons {
    vertical-align: middle; }

.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0; }
  .toolbar .name {
    flex-grow: 1;
    padding: 0 8px;
    user-select: none; }
  .toolbar .buttons {
    flex-shrink: 0; }
    .toolbar .buttons button {
      float: left; }

.terminal {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-width: 1px 0;
  flex-grow: 1;
  overflow: clip;
  padding: 4px 0; }
  .terminal div {
    color: #000;
    line-height: 1;
    padding: 4px 8px;
    word-break: break-word; }
    .terminal div.out {
      color: #F44336; }
    .terminal div.in {
      color: #2196F3; }
